@import "../../../common/getvw.scss";

.neck_img {
  position: absolute;
  z-index: 5;
}
@media (min-width: 1024px) {
  .neck_img {
    width: pcvw(81.08px);
    height: pcvw(75.04px);
    left: pcvw(40px);
    top: pcvw(120px);
  }
}

// 태블릿, 모바일버전
@media (max-width: 1024px) {
  .neck_img {
    width: movw(81.08px);
    height: movw(75.04px);
    left: movw(40px);
    top: movw(120px);
  }
}
