@import "../../common/getvw.scss";

.nav_wrap {
  background-color: #fff;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      max-width: 35px;
    }
  }
}

@media (min-width: 1024px) {
  .nav_wrap {
    width: 120px;
    height: 100vh;

    border-left: 2px solid #000;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    h1 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;

      height: 40px;
      line-height: 40px;

      border-bottom: 2px solid #000;
    }

    nav {
      ul {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

        li {
          width: 100%;
          height: 110px;
          border-bottom: 2px solid #000;

          img {
            max-width: 35px;
          }

          p {
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }

    .ani_btn {
      display: flex;
      justify-self: start;
      align-items: center;
      flex-direction: column;
      row-gap: 10px;

      width: calc(100% - 20px);
      padding: 0 10px;

      margin-bottom: 10px;

      button {
        width: 100%;
        height: 30px;
        border-radius: 30px;

        font-size: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #e1cef1;

        cursor: pointer;

        &:disabled {
          background-color: #f9f9f9;
        }
      }
    }
  }
}

@media (max-width: 1023px) and (min-width: 769px) {
  .nav_wrap {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 80px;

    h1 {
      display: none;
    }

    nav {
      width: 100%;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          width: 25%;

          img {
            width: 30px;
          }
          p {
            margin-top: 10px;
            font-size: 12px;
          }
        }
      }
    }

    .ani_btn {
      position: fixed;
      right: 0;
      top: 50px;

      display: flex;
      justify-self: start;
      align-items: center;
      flex-direction: column;
      row-gap: 10px;

      width: 110px;
      padding: 0 20px;

      margin-bottom: 20px;

      button {
        width: 100%;
        height: 30px;
        border-radius: 30px;

        font-size: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #e1cef1;

        cursor: pointer;

        &:disabled {
          background-color: #fff;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .nav_wrap {
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50px;

    h1 {
      display: none;
    }

    nav {
      width: 100%;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          width: 25%;

          img {
            width: 20px;
          }
          p {
            margin-top: 5px;
            font-size: 12px;
          }
        }
      }
    }

    .ani_btn {
      width: calc(100% - 40px);
      position: fixed;
      right: 50%;
      top: 50%;
      margin-top: movw(450px);
      transform: translateX(50%);

      display: flex;
      justify-content: center;
      align-items: center;

      column-gap: movw(10px);
      row-gap: movw(10px);
      flex-wrap: wrap;

      button {
        width: max-content;
        height: 20px;
        border-radius: 20px;

        font-size: movw(12px);

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #e1cef1;
        padding: 0 movw(10px);

        cursor: pointer;

        &:disabled {
          background-color: #fff;
        }
      }
    }
  }
}
