@import "../../common/getvw.scss";

.my_me {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  .my_me {
    left: pcvw(441px);
    top: pcvw(140px);
  }
}

@media (max-width: 1023px) {
  .my_me {
    left: movw(441px);
    top: movw(140px);
  }
}
