@import "../../../common/getvw.scss";

.main_text {
  position: absolute;

  left: 50%;
  transform: translate(-50%, 0%);

  p {
      text-align: center;
  }
}


@media (min-width: 1024px) {
  .main_text {
    width: pcvw(630px);
    top: 50%;
    margin-top: pcvw(-430px);

    p {
      font-size: pcvw(30px);
      line-height: pcvw(45px);
    }
  }
}

@media (max-width: 1023px) and (min-width: 769px) {
  .main_text {
    width: tabvw(630px);
    top: 50%;
    margin-top: tabvw(-450px);

    p {
      font-size: tabvw(30px);
      line-height: tabvw(45px);
    }
  }
}

@media (max-width: 768px) {
  .main_text {
    width: movw(700px);
    top: 50%;
    margin-top: movw(-500px);

    p {
      font-size: movw(30px);
      line-height: movw(34px);
    }
  }
}
