@function pcvw($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function pcvh($target) {
  $vw-context: (1920 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vh;
}

@function tabvw($target) {
  $vw-context: (1500 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function tabvh($target) {
  $vw-context: (1500 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vh;
}

@function movw($target) {
  $vw-context: (1000 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function movh($target) {
  $vw-context: (1000 * 0.01) * 1px;
  @return ($target/$vw-context) * 1vh;
}
