@import '../../../common/getvw.scss';

.head_wrap {
  position: absolute;

  .face {
    position: relative;
    z-index: 6;

    max-width: 179.76px;
    max-height: 158.1px;

    em {
      background: rgba(255, 208, 248, 0.3);
      border-radius: 20px;
      position: absolute;

      max-width: 24px;
      max-height: 24px;
    }

    .eye {
      position: absolute;
      display: flex;
      justify-content: start;
      align-items: center;
      transform: rotate(28deg);

      span {
        max-width: 6px;
        max-height: 10px;

        border-radius: 10px;
        background: #000;
      }
    }

    .mouse {
      position: absolute;

      max-width: 21.09px;
      max-height: 11.48px;

      img {
        position: absolute;
        left: 0;
        top: 0;

        &.talk {
          /* animation: taking .5s linear infinite; */
        }
      }
    }
  }
}

@media (min-width: 1601px) {
  .head_wrap {
    .face {
      width: 179.76px;
      height: 158.1px;
      animation: face_updown 5s linear infinite;

      em {
        width: 24px;
        height: 24px;
        left: 63px;
        top: 84px;
      }

      .eye {
        column-gap: 12px;
        left: 38px;
        top: 70px;

        span {
          width: 6px;
          height: 10px;
          animation: eyeBlink_me 5s linear infinite;
        }
      }

      .mouse {
        width: 21.09px;
        height: 11.48px;
        left: 35px;
        top: 85px;
      }
    }
  }

  @keyframes face_updown {
    0%,
    100% {
      transform: rotate(-13deg) translate(-11px, -6px);
    }
    50% {
      transform: rotate(0deg) translate(0, 0);
    }
  }
}

@media (max-width: 1600px) and (min-width: 1024px) {
  .face {
    width: pcvw(179.76px);
    height: pcvw(158.1px);
    animation: face_updown 5s linear infinite;

    .eye {
      column-gap: pcvw(12px);
      left: pcvw(38px);
      top: pcvw(70px);

      span {
        width: pcvw(6px);
        height: pcvw(10px);
        animation: eyeBlink_me 5s linear infinite;
      }
    }

    .mouse {
      width: pcvw(21.09px);
      height: pcvw(11.48px);
      left: pcvw(35px);
      top: pcvw(85px);
    }

    em {
      width: pcvw(24px);
      height: pcvw(24px);
      left: pcvw(63px);
      top: pcvw(84px);
    }
  }

  @keyframes face_updown {
    0%,
    100% {
      transform: rotate(-13deg) translate(pcvw(-11px), pcvw(-6px));
    }
    50% {
      transform: rotate(0deg) translate(0, 0);
    }
  }
}

@media (max-width: 1023px) and (min-width: 769px) {
  .face {
    width: tabvw(179.76px);
    height: tabvw(158.1px);
    animation: face_updown 5s linear infinite;

    .eye {
      column-gap: tabvw(12px);
      left: tabvw(38px);
      top: tabvw(70px);

      span {
        width: tabvw(6px);
        height: tabvw(10px);
        animation: eyeBlink_me 5s linear infinite;
      }
    }

    .mouse {
      width: tabvw(21.09px);
      height: tabvw(11.48px);
      left: tabvw(35px);
      top: tabvw(85px);
    }

    em {
      width: tabvw(24px);
      height: tabvw(24px);
      left: tabvw(63px);
      top: tabvw(84px);
    }
  }

  @keyframes face_updown {
    0%,
    100% {
      transform: rotate(-13deg) translate(tabvw(-11px), tabvw(-6px));
    }
    50% {
      transform: rotate(0deg) translate(0, 0);
    }
  }
}

@media (max-width: 768px) {
  .face {
    width: movw(179.76px);
    height: movw(158.1px);
    animation: face_updown 5s linear infinite;

    .eye {
      column-gap: movw(12px);
      left: movw(38px);
      top: movw(70px);

      span {
        width: movw(6px);
        height: movw(10px);
        animation: eyeBlink_me 5s linear infinite;
      }
    }

    .mouse {
      width: movw(21.09px);
      height: movw(6.17px);
      left: movw(35px);
      top: movw(85px);
    }

    em {
      width: movw(24px);
      height: movw(24px);
      left: movw(63px);
      top: movw(84px);
    }
  }

  @keyframes face_updown {
    0%,
    100% {
      transform: rotate(-13deg) translate(movw(-11px), movw(-6px));
    }
    50% {
      transform: rotate(0deg) translate(0, 0);
    }
  }
}

@keyframes eyeBlink_me {
  0%,
  30%,
  36%,
  100% {
    transform: scale(1);
  }
  32%,
  34% {
    transform: scale(1, 0);
  }
}

@keyframes taking {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
